{% extends '::base.html.twig' %}

{% block pagename %}
<h2>Homepage</h2>
{% endblock %}
{% block body %}
<ul>
    <li>
        <b>Product</b>
        <ul>
            <li><a href="product/read">View all products</a></li>
            <li><a href="product/create">Create a new product</a></li>
        </ul>
    </li>
    <li>
        <b>Category</b>
        <ul>
            <li><a href="category/read">View all categories</a></li>
            <li><a href="category/create">Create a new category</a></li>
        </ul>
    </li>
</ul>
{% endblock %}